Repository Ahitagni07/openCurrentAccount: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-transaction.yml, azure-pipelines.yml

azure-pipelines-transaction.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

transaction dockerfile updated
  transaction/Dockerfile
Due: azure-pipelines-transaction.yml

updating docker file directory
  account/Dockerfile
  transaction/Dockerfile
Due: azure-pipelines-transaction.yml, azure-pipelines.yml

pipeline file updated
  azure-pipelines-transaction.yml
Due: none

transaction docker file updated
  transaction/Dockerfile
Due: azure-pipelines-transaction.yml

pipeline updated
  azure-pipelines-transaction.yml
Due: none

docker directory updated in pipeline yml
  azure-pipelines-account.yml
  azure-pipelines-transaction.yml
Due: none

wildcard imports removed
  account/src/main/java/com/customer/account/config/InitialDataLoader.java
  account/src/main/java/com/customer/account/controller/AccountController.java
  account/src/main/java/com/customer/account/entity/Account.java
  account/src/main/java/com/customer/account/entity/CustomerDetail.java
  account/src/main/java/com/customer/account/service/AccountService.java
  account/src/main/java/com/customer/account/service/AccountServiceImpl.java
  transaction/Dockerfile
  transaction/src/main/java/com/customer/transaction/controller/TransactionController.java
  transaction/src/main/java/com/customer/transaction/service/TransactionService.java
Due: azure-pipelines-transaction.yml, azure-pipelines.yml

swagger config added and test cases added..
  .idea/codeStyles/codeStyleConfig.xml
  .idea/vcs.xml
  account/Dockerfile
  account/pom.xml
  account/src/main/java/com/customer/account/config/OpenAPIConfig.java
  account/src/main/java/com/customer/account/controller/AccountController.java
  account/src/main/java/com/customer/account/dto/TransactionInfo.java
  account/src/main/java/com/customer/account/exceptionhandler/ConnectivityException.java
  account/src/main/java/com/customer/account/exceptionhandler/CustomExceptionHandler.java
  account/src/main/java/com/customer/account/service/AccountService.java
  account/src/main/java/com/customer/account/service/AccountServiceImpl.java
  account/src/test/java/com/customer/account/controller/AccountControllerTest.java
  account/src/test/java/com/customer/account/service/AccountServiceImplTest.java
  transaction/Dockerfile
  transaction/pom.xml
  transaction/src/main/java/com/customer/transaction/config/OpenAPIConfig.java
Due: azure-pipelines-transaction.yml, azure-pipelines.yml

Update README.md
  README.md
Due: none

Update azure-pipelines-account.yml for Azure Pipelines
  azure-pipelines-account.yml
Due: none

checking build failed
  account/src/test/java/com/customer/account/controller/AccountControllerTest.java
Due: azure-pipelines.yml

corrected test case
  account/src/test/java/com/customer/account/controller/AccountControllerTest.java
Due: azure-pipelines.yml

api validations and test cases added
  account/pom.xml
  account/src/main/java/com/customer/account/AccountApplication.java
  account/src/main/java/com/customer/account/config/OpenAPIConfig.java
  account/src/main/java/com/customer/account/controller/AccountController.java
  account/src/main/java/com/customer/account/dto/AccountResponse.java
  account/src/main/java/com/customer/account/dto/TransactionRequest.java
  account/src/main/java/com/customer/account/dto/TransactionResponse.java
  account/src/main/java/com/customer/account/exceptionhandler/ConnectivityException.java
  account/src/main/java/com/customer/account/exceptionhandler/CustomExceptionHandler.java
  account/src/main/java/com/customer/account/exceptionhandler/CustomerNotFoundException.java
  account/src/main/java/com/customer/account/service/AccountService.java
  account/src/main/java/com/customer/account/service/AccountServiceImpl.java
  account/src/main/resources/application.yml
  account/src/test/java/com/customer/account/controller/AccountControllerTest.java
  account/src/test/java/com/customer/account/service/AccountServiceImplTest.java
  transaction/src/test/java/com/customer/transaction/controller/TransactionControllerTest.java
Due: azure-pipelines-transaction.yml, azure-pipelines.yml

test cases added in transaction service
  account/src/test/java/com/customer/account/controller/AccountControllerTest.java
  transaction/src/test/java/com/customer/transaction/service/TransactionServiceTest.java
Due: azure-pipelines-transaction.yml, azure-pipelines.yml

service url added in yml file.
  account/src/main/java/com/customer/account/service/AccountServiceImpl.java
  account/src/main/resources/application.yml
Due: azure-pipelines.yml

updated openaccount response structure
  account/src/main/java/com/customer/account/controller/AccountController.java
  account/src/main/java/com/customer/account/dto/OpenAccountResponse.java
  account/src/main/java/com/customer/account/service/AccountService.java
  account/src/main/java/com/customer/account/service/AccountServiceImpl.java
  account/src/test/java/com/customer/account/controller/AccountControllerTest.java
Due: azure-pipelines.yml

updated dockerfile to reduce image size
  README.md
  account/Dockerfile
  account/src/main/java/com/customer/account/service/AccountServiceImpl.java
  account/src/main/resources/application.yml
  transaction/Dockerfile
  transaction/src/main/java/com/customer/transaction/controller/TransactionController.java
  transaction/src/main/java/com/customer/transaction/dto/TransactionRequest.java
  transaction/src/main/resources/application.yml
  transaction/src/test/java/com/customer/transaction/controller/TransactionControllerTest.java
Due: azure-pipelines-transaction.yml, azure-pipelines.yml

added docker compose file to connect between two services
  account/src/main/resources/application.yml
  docker-compose.yml
Due: azure-pipelines.yml

comments added.
  account/src/main/java/com/customer/account/controller/AccountController.java
  account/src/main/java/com/customer/account/service/AccountServiceImpl.java
  transaction/src/main/java/com/customer/transaction/controller/TransactionController.java
  transaction/src/main/java/com/customer/transaction/service/TransactionService.java
Due: azure-pipelines-transaction.yml, azure-pipelines.yml

update readme file
  README.md
Due: none

readme file updated
  README.md
Due: none

updated readme file
  README.md
  img.png
Due: none

added comments
  account/src/main/java/com/customer/account/controller/AccountController.java
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-transaction.yml: any of: transaction
  azure-pipelines.yml: any of: account
